.sub-section{
	height: 80px;
	background-color: white;

}
h3{
	font-family:'Rancho',cursive;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #00dac8
}
.navbar-fixed-top{
	height: 60px;
	background:rgba(2,2,2,0.7);
	border-color: #FFFFFF;
	border-bottom: 0px;
	color: #FFFFFF;
	border-bottom-left-radius: 30% 20%;
  	border-top-right-radius: 30% 20%;
  	z-index: 5;
}


/*Brand*/
.navbar-inverse .navbar-brand{
	color: #FFF;
	font-family:'Serif';
	font-size: 35px;
	text-shadow: 0 3px 3px black;
}
.navbar-inverse .navbar-brand span{
	color: #00dac8;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
	color: #00dac8
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand span:hover{
	color: #FFF;
}
.btn-default:hover{
	color: #00dac8;
}
.navbar-right .dropdown-menu{
	left: 0;
	right: auto;

}
.dropdown-menu>li>a{
	padding: 6px 20px;
	min-width: 200px;
	-webkit-transition:padding 0.3s ease;
	-moz-transition:padding 0.3s ease;
	-o-transition:padding 0.3s ease;
	transition:padding 0.3s ease;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	background-color: #00dac8 ;
	padding-left:25px;
}


.carousel-caption{
		font-family: 'Rancho',cursive;
		color: #FFFFFF;
		background: rgba(3,3,3,0.5);
		
		border-bottom-left-radius: 30% 20%;
  	border-top-right-radius: 30% 20%;
		}

.carousel-caption h1{
	font-weight: 100px:;
	font-size: 50px;
	padding-bottom: 20px;
	text-shadow: 2px 4px black;

}
.lead{
	font-size:24px;
	text-shadow: 0 3px 3px black;
}
.lead-sm{
	margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  font-family: 'Rancho',cursive;
}
.container-sm{
	padding-top: 50px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  background: url(../images/about.jpg) no-repeat center center fixed;
  background-size: cover;
}
.container-sm h1{
  font-family: 'Rancho',cursive;
  text-shadow: 0 3px 3px black;
}
.container-sm .container{
	background:rgba(2,2,2,0.7);
	color: #FFF;
	border-radius: 10%;
}
.sign{
	background: url(../images/1.jpg) no-repeat center center fixed;
	background-size: cover;
	padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: white;
}
.sign-up-container{

  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  font-family: 'Rancho',cursive;
  font-size: 18px;
  background:rgba(2,2,2,0.7);
	color: #FFF;
	border-radius: 10%;
}
.sign-up-container h2{
	font-size: 45px;
	text-shadow: 0 3px 3px black;
}
.sign-up-container button{
	
}
.our-team h1{
	font-family: 'Rancho',cursive;
	margin-bottom: 40px;
	text-shadow: 0 3px 3px black;
}
.our-team{
	margin-top: 10px;
	background: url(../images/team.jpg) no-repeat center center fixed;
	background-size: cover;
	width: 100%;
	
}
.our-team .team{
	background:rgba(2,2,2,0.7);
	color: #FFF;
	
	padding-top: 40px;
	padding-bottom: 40px;
}
.contact{
	padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
  color: white;
  font-family: 'Rancho',cursive;
}
.contact h3{
	text-shadow: 0 3px 3px black;
}
body{
	margin-bottom: 20px;
}